@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    min-height: 100vh;
    background-color: #1e1e1e;
    color: rgb(231, 231, 231);
}

.blocklyMainBackground {
    stroke-width: 0 !important;
}